body{
    background: linear-gradient(135deg,#ffffff,#ffffff);
    font-family: Arial, Helvetica, sans-serif;
}

.custom-navbar{
    background: linear-gradient(to right,#4e54c8,#8f94fb);
}

.navbar-brand{
    font-size: 25px;
}

.nav-link{
    font-size:18px;
    margin-left:15px;
}

.nav-link:hover{
    color:yellow !important;
}

.profile-card{
    border:none;
    border-radius:20px;
    overflow:hidden;
    transition:0.4s;
}

.profile-card:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 30px rgba(0,0,0,0.3);
}

.card-header-bg{
    height:150px;
    background:linear-gradient(to right,#667eea,#764ba2);
}

.profile-image{
    width:170px;
    height:170px;
    border-radius:50%;
    object-fit:cover;
    border:6px solid white;
    margin-top:-85px;
    background:white;
}

.card-body h2{
    color:#4e54c8;
}

.btn-profile{
    background:#4e54c8;
    color:white;
    border-radius:30px;
    padding:10px 30px;
    font-weight:bold;
}

.btn-profile:hover{
    background:#2c2f9f;
    color:white;
}

.academic-section{
    background:white;
    border-radius:20px;
    padding:30px;
    box-shadow:0 10px 20px rgba(0,0,0,0.2);
}

.table{
    margin-top:20px;
}

footer{
    background:#212529;
    color:white;
    text-align:center;
    padding:20px;
}